doctype html
html
  head
      link(rel="stylesheet" href="style.css")
  body
    .container
      .content
        block content
        p#wrong  
  script(src="https://code.jquery.com/jquery-2.2.4.min.js")
  script(src="common.js")
