extends layout
block content
  form
    h2= title
      input(type="text" class="username" placeholder="Введите имя пользователя") 
      input(type="password" class="pass" placeholder="Введите пароль")
      button#submit Вход
